<div class="page-header">
  <h1>Moment</h1>
</div>
<div class="masonry">
  <% @uploads.each do |upload| %>
    <div class="item">
      <%= image_tag upload.image.url(:medium) %>
      <p><%= upload.description %></p>
      <% upload.tags.each do |tag| %>
        <span><%= tag.name %> | </span>
      <% end %>
    </div>
  <% end %>
</div>