<!DOCTYPE html>
<html>
<head>
  <title>Moment</title>
  <link href='http://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-header">
    <div class="container">
      <span class="logo">Moment</span>
      <nav class="main-nav">
        <a href="#">Sign In</a>
        <a href="#">Sign Out</a>
      </div>
    </nav>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>

